.blur {
    background-color: rgba(251, 238, 193,0.8);
    backdrop-filter: blur(10px);
    border-bottom: black solid 4px;
}

.blur1 {
   
    background-color: rgba(155, 118, 70, 1);
    backdrop-filter: blur(10px);
    border-right: black solid 4px;
    border-top: black solid 4px;
    border-left: black solid 4px;
}

.links {
    color: #e1d1bc;
    padding: 10px 20px;
    text-align: left; 
    text-decoration: none;
}

.links:hover {
    text-decoration: none;
    color: #4a3821;
}

#headline2 {
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
}

.headline1 {
    text-align: left;
    padding: 10px 20px;
    font-weight: bold;
}

.pic-container {
    height: 600px;
overflow-y: scroll;
}

.fat {
font-weight: bold;
}

.boljiinput {
    position: relative;
    float: left;
    margin: 20px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #4a3821;
    color: #4a3821;
    font-weight: bold;
}

.boljiinput:hover {
    background-color: #9b7646;
    font-weight: bold;
    text-decoration: none;
    color:  #e1d1bc;
}

.kul {
    background-color: transparent;
    border: 2px solid black;
    font-weight: bold;
    color: #e1d1bc;
}

.kul:focus {
border: 3px solid #e1d1bc;
background-color: transparent;
font-weight: bold;
    color: #e1d1bc;
}

.boljiinputADD {
    position: relative;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #e1d1bc;;
    color: #e1d1bc;
    font-weight: bold;
}

.boljiinputADD:hover {
    background-color: #e1d1bc;;
    color: #4a3821;
    font-weight: bold;
}


.back-linkADD {
    color: honeydew;
    text-decoration: none;
    position: absolute;
    left: 5%;
    top: 5%;
}

.back-linkADD:hover {
    text-decoration: none;
    color: #4a3821;
}

#headlineADD {
    text-align: center;
    padding: 15px 25px;
    font-weight: bold;
}


.blurADD {
    /* background-color: rgba(251, 238, 193,0.8); */
    background-color: rgba(155, 118, 70, 0.9);
    backdrop-filter: blur(10px);
    border: black solid 4px;
}

#center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


.boljiinputDEL:hover {
    background-color: #9b7646;
    font-weight: bold;
    color:  #e1d1bc;
}

.back-linkDEL {
    color: black;
    text-decoration: none;
    position: absolute;
    left: 5%;
    top: 5%;
}

.back-linkDEL:hover {
    text-decoration: none;
    color: #4a3821;
}

#headline2DEL {
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
}

.headlineDEL {
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
}


.center-att {
    text-align: center;
    border-bottom: black solid 1px;
  }



  .boljiinputDEL {
      position: relative;
      float: right;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 10px;
      background-color: transparent;
      border: 2px solid #4a3821;
      color: #4a3821;
      font-weight: bold;
  }

  .boljiinputEDIT {
    position: relative;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #4a3821;
    color: #4a3821;
    font-weight: bold;
}

.boljiinputEDIT:hover {
    background-color: #9b7646;
    font-weight: bold;
    color:  #e1d1bc;
}

.back-linkEDIT {
    color: black;
    text-decoration: none;
    position: absolute;
    left: 5%;
    top: 5%;
}

.back-linkEDIT:hover {
    text-decoration: none;
    color: #4a3821;
}

#headline2EDIT {
    text-align: center;
    padding: 15px 25px;
    font-weight: bold;
}

.kulEDIT {
    background-color: transparent;
    border: 2px solid black;
}

.kulEDIT:focus {
border: 3px solid #e1d1bc;
background-color: transparent;
font-weight: bold;

}

#center-screenEDIT {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.blurEDIT {
    background-color: rgba(251, 238, 193,0.9);
    backdrop-filter: blur(10px);
   
}